<div class="container">
    <div class="task">
        <div class="task__bad-words block-task">
            <div class="title">
                <h3>Angular list of prohibited words</h3>
            </div>
            <div class="details">
                <button [routerLink]="[ '/works/cenzor' ]"  type="button" class="btn btn-success">details</button>
            </div>
        </div>
        <div class="task__list block-task">
            <div class="title">
                <h3>Angular task list</h3>
            </div>
            <div class="details">
                <button  [routerLink]="[ '/works/userlist' ]"  type="button" class="btn btn-success">details</button>
            </div>
        </div>
        <div class="task__user-list block-task">
            <div class="title">
                <h3>Angular user list</h3>
            </div>
            <div class="details">
                <!-- [routerLink]="[ '/admin/product' ]" -->
                <button   [routerLink]="[ '/works/tasklist' ]" type="button" class="btn btn-success">details</button>
            </div>
        </div>
    </div>
</div>
