.task{
    //border: 1px solid red;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.block-task{
    width: 30%;
    height: 300px;
    border: 1px solid  gray;
}
.title{
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 20px;
        color: red;
    }
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    background-color: rgb(187, 187, 187);
}
.btn{
    width: 90%;
}
// .active{
//     color: blue;
// }